{% extends 'base.html' %}

{% block content %}
{{ L.ui_page_header(
title=fabric.fabric_code,
actions=F.ui_button(label=t('common.back'), variant='secondary', href=url_for('ui_fabric.fabric_list'))
) }}

{% call L.ui_container() %}
{% call L.ui_grid(cols=3) %}
{{ C.ui_stat_card(label=t('fabric.fields.material'), value=fabric.material or '-') }}
{{ C.ui_stat_card(label=t('fabric.fields.width_cm'), value=fabric.width_cm or '-') }}
{{ C.ui_stat_card(label=t('fabric.fields.yard_weight_gyd'), value=fabric.yard_weight_gyd or '-') }}
{% endcall %}

{% call C.ui_card(title=t('fabric.cylinders.title')) %}
{% call C.ui_table(headers=[
t('fabric.fields.cylinder_no'),
t('cylinder.stats.roll_count'),
t('cylinder.stats.in_stock_count'),
t('cylinder.stats.in_stock_sum_length'),
t('common.actions')
]) %}
{% for cylinder in cylinders %}
<tr>
    {{ C.ui_td(text=cylinder.cylinder_no, bold=True) }}
    {{ C.ui_td(text=cylinder.roll_count) }}
    {{ C.ui_td(text=cylinder.in_stock_count) }}
    {{ C.ui_td(text=cylinder.in_stock_sum_length|default(0) ~ 'm') }}
    {% call C.ui_td() %}
    {{ A.ui_action_link(label=t('common.view'), href=url_for('ui_fabric.cylinder_view', id=cylinder.id), icon='eye') }}
    {% endcall %}
</tr>
{% endfor %}
{% endcall %}
{% endcall %}
{% endcall %}
{% endblock %}